{
    "messages": {
        "T_ERR_INVALID_CHAR" : "Invalid character '${value}' at line ${line} col ${col}",
        "T_ERR_FLOAT_FORMAT" : "Wrong float numer '${value}' at line ${line} col ${col}",
        "T_ERR_BLOCK_COMMENT" : "Block comment '${value}' at line ${line} col ${col} is not closed",
        "T_ERR_TRAILING_ZERO" : "Float number '${value}' at line ${line} col ${col} cannot end with a zero",
        "T_ERR_LEADING_ZERO" : "Number '${value}' at line ${line} col ${col} cannot start with a zero"
    },

    "tokens": {
        "errorTokens": {
        	"prefix": "T_ERR_",
        	"include": [],
        	"exclude": []
        },

        "reserved": [
        	{
        		"token": "T_IF",
        		"value": "if"
        	},
            {
                "token": "T_THEN",
                "value": "then"
            },
            {
                "token": "T_ELSE",
                "value": "else"
            },
            {
                "token": "T_FOR",
                "value": "for"
            },
            {
                "token": "T_CLASS",
                "value": "class"
            },
            {
                "token": "T_INT_TYPE",
                "value": "int"
            },
            {
                "token": "T_FLOAT_TYPE",
                "value": "float"
            },
            {
                "token": "T_GET",
                "value": "get"
            },
            {
                "token": "T_PUT",
                "value": "put"
            },
            {
                "token": "T_RETURN",
                "value": "return"
            },
            {
                "token": "T_AND",
                "value": "and"
            },
            {
                "token": "T_NOT",
                "value": "not"
            },
            {
                "token": "T_OR",
                "value": "or"
            },
            {
                "token": "T_PROGRAM",
                "value": "program"
            }
        ]
    }
}